<form id="zhaiwubiao" ng-submit="calMoney()">
    <label for="name">你是:
        <select id="name" ng-model="data.creditor" required>
            <option value="">Please select</option>
            <option ng-repeat="person in data.homies" value="{{person.email}}">
                {{person.name}}
            </option>
        </select>
    </label>
    <label>项目名称：
        <input type="text" ng-model="data.name" required />
    </label>
    <label>谁欠你钱：
    <div>
        <label ng-repeat="person in data.homies">{{person.name}}
            <input type="checkbox" ng-model="data.debtors[$index]" />
        </label>
    </div>
    </label>
    <label for="amount">金额
        <input type="number" min="0" step="0.01" id="amount" ng-model="data.amount"/>
    </label>
    平分？嗯哼？
    <label>Yes
        <input type="radio" ng-model="data.is_share" value="true" ng-checked="true" />
    </label>
    <label>No
        <input type="radio" ng-model="data.is_share" value="false" />
    </label>
    
    <label for="name">提交:
        <input type="submit" id="sub">
    </label>
</form>