<form id="zhaiwubiao" ng-submit="calMoney()">
    <label for="name">你是:
        <input type="text" id="name" ng-model="user.name">
    </label>
    <label>项目名称：
        <input type="text" ng-model="user.itemName">
    </label>
    <label>谁欠你钱：
    <div>
        鹤阳<input type="checkbox" ng-model="user.payee1">
        囧<input type="checkbox" ng-model="user.payee2">
    </div>
    </label>
    
    平分？嗯哼？
    <label>
        Yes<input type="radio" ng-model="user.isShare" value="yes">
    </label>
    <label>
        No<input type="radio" ng-model="user.isShare" value="no">
    </label>
    
    <label for="name">jiao:
        <input type="submit" id="sub">
    </label>
</form>

<div>
    {{ user.name }}
    {{ user.itemName }}
    {{ user.isShare }}
    {{ user.payee1 }}
    {{ user.payee2 }}
</div>