<div id="biblography">
    <div class="row-block silver-background">
        <div class="col-block img-wrapper" >
            <img id="protrait-pic" src="/assets/picture/biblography/portrait.png" />
        </div>
        <div class="col-block" id="bio-intro">
            <div id="contact-detail">
                <h1>Contact</h1>
                <p> &nbsp - &nbsp Email: yanhao AT u DOT nus DOT edu</p>
                <p> &nbsp - &nbsp WeChat ID: yanhao0321</p>
            </div>
            <div id="short-bio">
                <h1>Short Bio</h1>
                <p> &nbsp - &nbsp Born and raised in China</p>
                <p> &nbsp - &nbsp Attended high school in Singapore (Victoria Junior College)</p>
                <p> &nbsp - &nbsp Matriculated at National University of Singapore with Computer Science and Applied Math Double Degree Program</p>
                <p> &nbsp - &nbsp Exchanged to Delft University of Technology for one semester in 2016</p>
            </div>
        </div>
    </div>

    <div>
    </div>
</div>