<div id="biblography">
    <div class="row-block silver-background">
        <div class="col-block" id="bio-info">
            <div>
                <h3><i>Wang Yanhao</i></h3>
                <p><i>Computer Science Enthusiast</i></p>
            </div>
            <div class="img-wrapper">
                <img id="protrait-pic" src="/assets/picture/biblography/portrait.png" />
            </div>
        </div>
        <div class="col-block" id="bio-intro">
            <div id="contact-detail">
                <h1>Contact</h1>
                <p> &nbsp - &nbsp Email: yanhao AT u DOT nus DOT edu</p>
                <p> &nbsp - &nbsp WeChat ID: yanhao0321</p>
            </div>
            <div id="short-bio">
                <h1>Short Bio</h1>
                <p> &nbsp - &nbsp Born and raised in China</p>
                <p> &nbsp - &nbsp Attended high school in Singapore (Victoria Junior College)</p>
                <p> &nbsp - &nbsp Matriculated at National University of Singapore with Computer Science and Applied Math Double Degree</p>
                <p> &nbsp - &nbsp Exchanged to Delft University of Technology for one semester in 2016</p>
            </div>
        </div>
    </div>

    <div class="row-block">
        <h1 class="bio-sub-title">Courses Taken</h1>
        <div id="cs-moduels" class="col-block course-table-wrapper">
            <h3 class="table-name">CS Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td class="course-header">Course ID</td>
                        <td class="course-header">Course Title</td>
                    </tr>
                </thead>
                <tr ng-repeat="course in csModulesEnrolled">
                    <td>{{ $index+1 }}</td>
                    <td>{{ course.code }}</td>
                    <td>{{ course.name }}</td>
                </tr>
            </table>
        </div>
        <div id="math-moduels" class="col-block course-table-wrapper">
            <h3 class="table-name">Math Courses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td class="course-header">Course ID</td>
                        <td class="course-header">Course Title</td>
                    </tr>
                </thead>
                <tr ng-repeat="course in mathModulesEnrolled">
                    <td>{{ $index+1 }}</td>
                    <td>{{ course.code }}</td>
                    <td>{{ course.name }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>