.inline-list {
    display: inline-block;
}

.header {
    position: relative;
    margin: 50px 50px;
    div {
        display: inline;
    }
    button {
        float: right;
    }
    #header-logo {
        width: 100px;
    }
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.main-container {
    margin: 50px 30px 40px;
    min-height:100%;
    
    #home-page {
        #home-page-title {
            display: block;
            text-align: center;
            font: 36px;
        }
        .button-placer {
            margin: 20px 15px;
            text-align: center;
            button {
                margin: 5px 20px;
            }
        }
    }
    
    #question-display {
        canvas {
            border:1px solid black;
        }
    }

    #practice-wrapper {
        li {
            margin: 20px 15px;
        }
    }
    
    .file-upload-form {
        div, button {
            display: inline;
        }
    }
}

.footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}