#questionDisplay {
    canvas {
        border:1px solid black;
    }
}

.inlineList {
    display: inline-block;
}

.header {
    margin: 20px 40px;
    div {
        display: inline;
    }
    button {
        float: right;
    }
    #header_logo {
        width: 100px;
    }
}

.footer {
    margin: 20px 40px;
}

#practiceWrapper {
    margin: 10px 30px;
    a {
        margin: 20px 35px;
    }
}