<div id="signup_form">
    <form ng-submit="signup()">
        <div>
            <label for="signup_username">Name:</label>
            <input id="signup_username" type="text" name="user_name"/>
        </div>
        <div>
            <label for="signup_email">Email:</label>
            <input id="signup_email" type="email" name="user_email"/>
        </div>
        <div>
            <label for="signup_password">Password:</label>
            <input id="signup_password" type="password" name="user_password"/>
        </div>
        <div>
            <input id="signup_submit" type="submit" value="Register"/>
        </div>
    </form>
</div>